[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
  background-color: #f9f9f9;
}

.navbar-default{
  background-color: #337ab7;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.small{
  font-size: 0.75em;
}

.desc{
  padding-top: 50px;
  text-align: center;
}
